[package]
name = "pyd4"
version = "0.1.13"
authors = ["Hao Hou <haohou302@gmail.com>"]
edition = "2021"

[dependencies]
d4 = { version = "0.3.1" }
pyo3 = "0.15.0"
rayon = "1.4.0"
env_logger = "0.9.0"

[lib]
crate-type = ["cdylib"]
name = "pyd4"
